/* variables */

:root {
  --dark-blue: #121826;
  --grey: #e5e7eb;
  --white: #ffffff;
  --blue: #263fa9;
  --light-grey: #f8fafc;
  --dark-grey: #4d5562;
  --brown: #7c4f1e;
  --medium-grey: #4d556233;
}

/* loading Vietnam Pro font */

@font-face {
  font-family: "Vietnam Pro";
  src: url("./resources/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vietnam Pro";
  src: url("./resources/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Vietnam Pro";
  src: url("./resources/fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* CSS reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color: var(--light-grey);
  color: var(--dark-blue);
  min-height:  100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
