/* variables */

:root {
  --dark-blue: #121826;
  --grey: #e5e7eb;
  --white: #ffffff;
  --blue: #263fa9;
  --light-grey: #f8fafc;
  --dark-grey: #4d5562;
  --brown: #7c4f1e;
  --medium-grey: #4d556233;
}

/* loading Vietnam Pro font */

@font-face {
  font-family: "Vietnam Pro";
  src: url("./resources/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vietnam Pro";
  src: url("./resources/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Vietnam Pro";
  src: url("./resources/fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* CSS reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color: var(--light-grey);
  color: var(--dark-blue);
  min-height:  100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Header */

header {
  padding: 1.5rem 0 3rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
    color: var(--dark-grey);
    margin-top: .5rem;
    max-width: 25rem;
    text-align: center;
  }
}

main {
  background-color: var(--white);
  width:  100%;
  justify-content: center;
  display: flex;
  #table-wrapper {

    table {
      border-collapse:  collapse;
      thead {
        th {
          padding: 1rem;
          font-size: 1rem;
          color: var(--dark-grey);
          text-align: left;
          border-bottom: 1px solid var(--medium-grey);

          span.title {
            font-size: .75rem;
            color: var(--blue);
          }
        }
        th.team-plan {
          display: none;
        }
        th[data-plan="popular"] {
          background-color: var(--dark-blue);
          color: var(--white);
          border-top-left-radius: .75rem;
          border-top-right-radius: .75rem;
          span.title {
            background-color: var(--blue);
            color: var(--white);
            padding: .25rem .5rem;
            border-radius: .75rem;
          }
        }
      }
      tbody {
        .feature-cell{
          text-align: left;
        }
        td {
          padding: .75rem;
          font-size: .875rem;
          color: var(--dark-blue);
          text-align: center;
          vertical-align: middle;
          margin: 0 auto;
        }
        td img {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 auto;
        }
        td.team-plan {
          display: none;
        }
        td[data-plan="popular"] {
          span.title {
            background-color: var(--blue);
            color: var(--white);
            padding: .25rem .5rem;
            border-radius: .75rem;
          }
        }

        td.popular-plan {
          background-color: var(--dark-blue);
          color: var(--white);
        }
      }
      tfoot {
        tr {
          td.popular-plan {
            background-color: var(--brown);
            color: var(--white);
            border-bottom-right-radius: .75rem;
            border-bottom-left-radius: .75rem;

            button {
              color: #fff ;
            }
          }
          td {
            padding: 1rem;
            font-size: 1rem;
            color: var(--dark-blue);
            text-align: center;
            border-top: 1px solid var(--medium-grey);

            button {
              color: var(--blue);
              font-weight: 600;
              background-color: transparent;
            }
            .popular-plan button {
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: .35rem;
            }
          }

          td.team-plan {
            display: none;
          }
        }
      }
    }
  }
}

/* Media queries */

@media (min-width: 768px) {
  header {
    padding: 2rem 0 4rem;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.25rem;
    }
  }

  main {
    #table-wrapper {
      table {
        thead {
          th {
            font-size: 1.25rem;
          }

          th.team-plan {
            display: table-cell;
          }
        }

        tbody {
          td {
            padding: 1.5rem;
            font-size: 1.25rem;
          }

          td.team-plan {
            display: table-cell;
          }
        }

        tfoot {
          tr {
            td {
              font-size: 1.25rem;
            }

            td.team-plan {
              display: table-cell;
            }
          }
        }
      }
    }
  }
}